<div class="container">
  <form method='POST' action="/usercontroller/signup">
    <div class="form-group">
      <label>Given Name</label>
      <input type="text" class="form-control" name = "givenname">
    </div>
    <div class="form-group">
      <label>Family Name </label>
      <input type="text" class="form-control" name = "familyname">
    </div>
    <div class="form-group">
      <label>User</label>
      <input type="text" class="form-control" name = "username">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name = "password">
      <button type="submit" class="btn btn-primary" style="margin-top: 30px;">Sign up </button>
    </div>
</div>